body {
    background-color: lightskyblue;
    align-items: center;
    padding: 200px;
}

form {
    width: 555px;
    height: 680px;
    background-color: white;
    margin: auto;
}

img {
    border: 1px solid;
    width: 145px;
    margin-bottom: 90px;
    border-radius: 100px;
    background-color: white;
}

.elements {
    text-align: center;
    padding: 100px;
}

.input {
    margin-bottom: 25px;
}

.media {
    margin: 26px;
}